.carousel-container {
    display: flexbox;
}
img {
    opacity: 0.5;
    width:100%; 
    max-width:100%;
    object-fit: scale-down;
}

.carousel-caption h3 {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.carousel-inner .carousel.item {
    overflow: hidden;
    width: 100%;
}
.item {
    height: 500px;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes slide {
    from {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
}