<div class="carousel-container">
    <ngb-carousel class="carousel-template">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper item">
                <img src="../../assets/slideshow/studio.jpg">
            </div>
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper item">
                <img src="../../assets/slideshow/ingresso.jpg">
            </div>
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper item">
                <img src="../../assets/slideshow/palestra.jpg">
            </div>
            <div class="carousel-caption">
            </div>
        </ng-template>
    </ngb-carousel>
</div>