.carousel-container {
    display: flexbox
}
img {
    opacity: 0.5;
}

.carousel-caption h3 {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.item {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes slide {
    from {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
}