<section>
    <div class="container">
        <div class="page-section text-center">
            <h2 class="page-section-title">I nostri servizi</h2>
            <hr>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="page-section-paragraph-title">Palestra</h5>
                        <p class="page-section-paragraph">With supporting text below as a natural lead-in to additional content.</p>
                        <a routerLink="/palestra" class="button-light">Visita il sito</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="page-section-paragraph-title">Centro medico</h5>
                        <p class="page-section-paragraph">With supporting text below as a natural lead-in to additional content.</p>
                        <a routerLink="/centromedico" class="button-light">Visita il sito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>