<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Palestra</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <button (click)="goToPalestra()" class="btn btn-primary">Visita il sito</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Centro medico</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a routerLink="/palestra"><button (click)="goToCentroMedico()" class="btn btn-primary">Visita il
                                sito</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>