<!-- Footer -->
<footer class="footer">
  <div class="container footer-top">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h3>Richiedi informazioni</h3>
          </div>
          <div class="col-md-8 logo">
            <img src="../../../assets/logo.svg" alt="logo" style="width: 300px">
          </div>
        </div>

        <div class="row footer-nav">
          <div class="col-md-3">
            <b>
              <h5 class="footer-title underline">Vertex</h5>
            </b>
            <ul class="ul">
              <li><a routerLink="" class="trans">Home</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <b>
              <h5 class="footer-title underline">I nostri servizi</h5>
            </b>
            <ul class="ul">
              <li><a routerLink="/palestra" class="trans">Palestra</a></li>
              <li><a routerLink="/centromedico" class="trans">Centro medico</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <b>
              <h5 class="footer-title underline">Dove siamo</h5>
            </b>
            <ul class="ul">
              <li><a routerLink="/where-page" class="trans">Via XXv Aprile, 31. Arese (MI).</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-middle">
    <div class="row">

      <!--<div class="col-md-6 contatti">
        <h6 class="footer-title lowercase"><i class="fa fa-phone"></i> <a href="tel:+393802425090"> +39 3802425090 </a>
          <span class="ml10 mr10">|</span> <i class="fa fa-envelope"></i> <a href="info@vertexarese.it">
            info@vertexarese.it</a></h6>
      </div>-->
    </div>
    <div class="row">
      <div class="col-md-3 section-header contatti">
        <div class="icon text-center">
          <object class="telephone" type="image/svg+xml" data="../../../assets/icons/emailBlue.svg">
          </object>
        </div>
        <h3 class="section-title"><a href="tel:+393802425090"> +39 3802425090 </a></h3>
      </div>
      <div class="col-md-3 section-header contatti">
        <div class="icon text-center">
          <object class="email" type="image/svg+xml" data="../../../assets/icons/emailBlue.svg">
          </object>
        </div>
        <h3 class="section-title"><a href="info@vertexarese.it"> info@vertexarese.it </a></h3>
      </div>
      <div class="col-md-3 section-header contatti">
        <ul class="social-network social-circle">
          <li><a href="https://www.facebook.com/Vertexarese/" class="icoFacebook" title="Facebook"><i
                class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/vertex_arese/?hl=it" class="icoInstagram" title="Instagram"><i
                class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="scroll-to-top">
    <i class="fa fa-angle-up"></i>
  </div>

  <div class="footer-copyright text-center py-3">Website by Linda Rimodi
  </div>
</footer>