<section style="background-color: #5D9FD1;">
    <div class="container">
        <div class="page-section text-center">
            <h2 class="page-section-title--white">I nostri specialisti</h2>
            <hr>
            <div class="card-deck">
                <div class="card" *ngFor="let servizio of serviziList; index as i">
                    <img class="card-img-top" src="../../assets/user.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="page-section-paragraph-title">{{servizio.specialista}}</h5>
                        <p class="page-section-paragraph">{{servizio.cv}}</p>
                        <a [routerLink]="['/team-cards', servizio.id, serviziList]" (click)="onSelect(servizio)"
                            class="button-light">Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>