<app-navbar></app-navbar>

<section class="content-section appearance-transformation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <div class="icon">
                    <object class="location" type="image/svg+xml" data="../../../assets/icons/teamBlue.svg">
                    </object>
                </div>
                <h3 class="section-title underline">Lavora con noi</h3>
                <p class="section-subtitle">Siamo sempre alla ricerca di nuove figure specialistiche con cui
                    collaborare. <br>Cerchiamo <i>affidabilità</i>, <i>spirito di squadra</i> e tanta voglia di
                    <i>mettersi in gioco</i>.</p>
                <p class="section-subtitle">Inviaci il tuo Curriculum Vitae a
                    <span class="section-title text-center"><a value="info@vertexarese.it"
                            (click)="copyMessage('info@vertexarese.it')"><span
                                class="tooltiptext" id="myTooltip"></span>
                            info@vertexarese.it </a></span></p>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
</section>
<app-footer></app-footer>