<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink=""><img src="../../assets/logo.svg" style="width: 20%"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto" style="cursor:pointer">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item dropdown mr-auto">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    (click)="show=!show">Servizi</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                    [ngClass]="{show: show === true}">
                    <a class="dropdown-item" routerLink="/palestra">Palestra</a>
                    <a class="dropdown-item" routerLink="/centromedico">Centro medico</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">Chi siamo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Dove siamo</a>
            </li>
        </ul>
    </div>
</nav>