<app-navbar></app-navbar>

<section class="jumbotron text-center copertina">
    <div class="container">
        <h1>Il centro medico</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
            etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-4 side-img">
        </div>
        <div class="col-md-8 col-md-offset-4 gray-bg">
            <div class="pt90 pl60 pr60 pb30 plxs30 prxs30">
                <div class="row">
                    <div class="col-md-6 mb60">
                        <h5 class="underline">Ufficio Commerciale</h5>
                        <p>Il nostro ufficio commerciale è strutturato per assicurare ai nostri clieti un servizio
                            attento alle loro necessità. Siamo dotati di una rete di vendita che ci consente di
                            commercializzare non solo i nostri servizi ma anche quelli dei nostri partner. </p>
                    </div>
                    <div class="col-md-6 mb60">
                        <h5 class="underline">Ufficio Marketing</h5>
                        <p>Il nostro ufficio marketing ci permette di rimanere sempre al passo con i tempi.
                            Attraverso continue analisi di mercato forniamo soluzioni innovative che assicurano ai
                            prodotti dei nostri clienti un corretto posizionamento sul mercato.</p>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>