<app-navbar></app-navbar>

<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <div class="icon">
                    <object class="medico" type="image/svg+xml" data="../../../assets/icons/medicoBlue.svg">
                    </object>
                </div>
                <h3 class="section-title underline">Il centro medico</h3>
                <p class="section-subtitle">Un team solido, collaborativo e di grandi specialisti vi assisterà nel
                    percorso di diagnosi, terapie e trattamenti appropriati. Per una corretta gestione del paziente è
                    necessaria coesione ed accuratezza.</p>
            </div>
        </div>
    </div>
</section>

<section id="servizi">
    <div class="image-holder col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-left">
        <div class="background-imgholder">
        </div>
    </div>
    <div class="col-lg-7 col-lg-offset-5 col-md-12 col-md-offset-5 col-sm-12 col-sm-offset-12 col-xs-12 text-inner ">
        <div class="text-block">
            <div *ngFor="let servizio of serviziCentroList; index as i">
                <div (click)="onShowDetail(servizio.servizio)" class="row-title">
                    <span class="servizio-list">
                        {{servizio.servizio}}
                        <i *ngIf="detailToShow !== servizio.servizio" class="fa fa-chevron-down arrow arrow-grey"></i>
                        <i *ngIf="detailToShow === servizio.servizio" class="fa fa-chevron-up arrow arrow-blue"></i>
                    </span>
                </div>
                <hr *ngIf="detailToShow !== servizio.servizio">
                <div *ngIf="detailToShow === servizio.servizio" class="detail-container">
                    <div class="dettaglioRow">
                        <div id="dettaglioServizio">
                            <p class="dettaglio" *ngFor="let dettaglio of servizio.dettaglio; index as i">{{dettaglio}}
                            </p>
                            <button *ngIf="selectedSpecialista"
                                [routerLink]="['/team-page', selectedSpecialista.id, 'centro medico', servizio.servizio, 'true']"
                                class="btn" style="float: right;">{{buttonText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>