<jw-modal id="custom-modal-1">
    <div class="row" style="display: flow-root;">
        <button class="btn" (click)="closeModal('custom-modal-1');"
            style="float: right; margin-right: 40px; margin-top: 20px;">X</button>
    </div>
    <section class="content-section modal-section">
        <div>
            <div class="row">
                <div class="col-md-12 section-header text-center">
                    <div class="icon">
                        <object class="open" type="image/svg+xml" data="../../../assets/icons/openBlue.svg">
                        </object>
                    </div>
                    <h3 class="section-title underline">Nuova apertura!</h3>
                    <h6 class="section-subtitle">Ottobre 2020: centro medico
                        POLISPECIALISTICO</h6>
                    <br>
                    <p>
                        Dopo solo due anni dall'approdo ad Arese, Vertex si appresta a compiere un altro grande passo
                        allargando la propria sede e, soprattutto, i servizi offerti.
                        Nei primi giorni di ottobre inaugureremo un piccolo centro medico polispecialistico, adiacente
                        alla sede attuale, dove collaboreranno con noi i migliori professionisti del settore sul
                        territorio.
                    </p>
                    <button class="btn" routerLink="/centromedico">Scopri tutti i servizi</button>
                </div>
            </div>
        </div>
    </section>
</jw-modal>

<app-navbar></app-navbar>

<app-carousel></app-carousel>

<app-servizi-cards></app-servizi-cards>

<app-team-cards [specPalestraList]="specPalestraList" [specCentroList]="specCentroList"></app-team-cards>

<app-footer></app-footer>