.card {
    margin: 5px;
    margin-bottom: 30px;
    display: block;
    border-radius: 6px;
}
.card:hover {
    border: 1px solid #1766B0;
    box-shadow: 1px 1px 10px #1766B0;  
}
.deckContainer {
    justify-content: space-around;
}
    img {
        width: 150px;
        margin-top: 15px;
        border-radius: 50%;
    }
@media (max-width: 480px) {
    img {
        width: 100px;
    }
}