<section style="background-color: #5D9FD1;">
    <div class="container-fluid">
        <div class="page-section text-center">
            <h2 class="page-section-title--white">I nostri specialisti</h2>
            <hr>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 deckContainer">
                <div class="card" *ngFor="let specialista of specPalestraList; index as i">
                    <img class="card-img-top" src="../../assets/user.png" alt="Card image cap">
                    <div class="card-body">
                        <h3>{{specialista.specialista}}</h3>
                        <h5>{{specialista.specializzazione}}</h5>
                        <p>{{specialista.cv}}</p>
                        <button [routerLink]="['/team-page', specialista.id]" (click)="onSelect(specialista)"
                            class="btn">Info</button>
                    </div>
                </div>
                <div class="card" *ngFor="let specialista of specCentroList; index as i">
                    <img class="card-img-top" src="../../assets/user.png" alt="Card image cap">
                    <div class="card-body">
                        <h3>{{specialista.specialista}}</h3>
                        <h5>{{specialista.specializzazione}}</h5>
                        <p>{{specialista.cv}}</p>
                        <button [routerLink]="['/team-page', specialista.id]" (click)="onSelect(specialista)"
                            class="btn">Info</button>
                    </div>
                </div>
            </div>
        </div>
        <a download="filename" target="_blank" href="../../assets/files/prova.pdf">
            Click here to download file
        </a>
    </div>
</section>