<section class="content-section" style="background-color: #f2f2f2;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <h3 class="section-title underline">I nostri specialisti</h3>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 deckContainer">
                <div class="card text-center" *ngFor="let specialista of specPalestraList; index as i">
                    <img class="card-img-top" src="../../../assets/Specialisti/Palestra/{{specialista.id}}.jpg"
                        alt="Avatar">
                    <div class="card-body">
                        <h5>{{specialista.specialista}}</h5>
                        <hr>
                        <p class="section-subtitle">{{specialista.specializzazione}}</p>
                        <p>{{specialista.ruolo}}</p>
                        <button [routerLink]="['/team-page', specialista.id, specialista.area]" (click)="onSelect(specialista)"
                            class="btn">Info</button>
                    </div>
                </div>
                <div class="card text-center" *ngFor="let specialista of specCentroList; index as i">
                    <img class="card-img-top" src="../../../assets/Specialisti/Centro Medico/{{specialista.id}}.jpg"
                        alt="Avatar">
                    <div class="card-body">
                        <h5>{{specialista.specialista}}</h5>
                        <hr>
                        <p class="section-subtitle">{{specialista.specializzazione}}</p>
                        <p>{{specialista.ruolo}}</p>
                        <button [routerLink]="['/team-page', specialista.id, specialista.area]" (click)="onSelect(specialista)"
                            class="btn">Info</button>
                    </div>
                </div>
            </div>
        </div>
        <a download="filename" target="_blank" href="../../assets/files/prova.pdf">
            Click here to download file
        </a>
    </div>
</section>