<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vertex</title>
  <!-- Link ai CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">RecipeBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-nav-bar"
      aria-controls="collapsing-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsing-nav-bar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Shopping list</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <a href="#" class="dropdown-item">Save</a>
            <a href="#" class="dropdown-item">Fetch</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row col-xs-offset-2" id="TitoloMain">Coming soon... Vertex!</div>

  <div class="row slideShow">

    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <div class="text">Preparazione atletica</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <div class="text">Definizione</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <div class="text">Tonificazione</div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(0)">&#10095;</a>

    </div>

    <br>
    <script type="text/javascript" src="slideshow.js"></script>
  </div>

  <div class="footer row">
    <div class="informazionifooter">
      <span style="vertical-align:middle;">Vertex<br>
        Via ......<br>
        ......<br>
        numero di telefono:</span>
    </div>
    <div class="text-center"><span style="color:white">Website By Linda Rimoldi</span></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="scripts/ScriptSito.js"></script>
</body>

</html>