.jumbo{
    margin-left:10%;
    margin-right:10%;
	padding-left: 10%;
	padding-right: 10%;
    background-color:rgba(200,200,200,0.8);
	backface-visibility: hidden;
}

.jumboareapersonale{
     background-color:rgba(200,200,200,0.9);
}
#TitoloMain {
   font-family: Roboto,sans-serif;
    font-size: 200%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 10%;
    padding-left: 20%;
    color: indianred;  
}
.main{
    //background-image:url('img/pista.jpg');
    background-size:cover;
}
.img-frutta{
	text-align: center;
}
.informazionifooter{
	font-family: sans-serif;
    display:inline-block;
    color:white;
    padding-top:35px;
    padding-left:60px;
}

.sottotitolo{ 
text-align: center;
font-size: 150%
}
element.style{
	font-family: sans-serif;
}

.bordoform{
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom:10px;
    background-color:rgba(200,200,200,0.8);
} 

.widget{
    display: inline-block;
    padding:15px;
    background-color:rgba(169,169,169,0.9);
    margin-top:50px;
}

.widget:hover{
    background-color:rgba(130,130,130,0.9);
}

.paddingform{
    padding-left:10%;
    padding-right:10%;
    margin-top:20px;
    margin-bottom:20px
}

.footer{
    height:150px;
    background-color: #444444;
   
}

.btn-inverse {
  color: #ffffff;
  background-color: #363636;
  *background-color: #222222;
  border-right: black;


  background-image: linear-gradient(to bottom, #222222, #444444);
  background-repeat: repeat-x;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover{
     color: rgba(255, 255, 255, 0.75);
}
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
             box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.infobox{
    margin-left: 20%;
    margin-right: 20%;
    background-color:rgba(200,200,200,0.8);
    padding: 20px;
}

.testobottone, .glyphicon{
    font-size: 18px;
	border-color: black;
}
.glyphicon{
    color: black;
}

#colgoogle {position: relative;}

#googleMap {position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 300px; width:100%;}