<!--<a routerLink="/">Go to Home</a>-->
<app-navbar></app-navbar>

<div class="jumbotron copertina" style="margin-bottom:0">
    <div style="text-align: center;">
        <h3>Il nostro centro medico</h3>
    </div>

</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <ul>
            <li *ngFor="let servizio of servizi">{{servizio.servizio}}</li>
        </ul>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/fisio.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>