<app-navbar></app-navbar>

<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <div class="icon">
                    <object class="location" type="image/svg+xml" data="../../../assets/icons/locationBlue.svg">
                    </object>
                </div>
                <h3 class="section-title underline">Dove siamo</h3>
                <p class="section-subtitle">Vieni a trovarci nella nostra sede ad Arese (MI) in via XXV Aprile, 31</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row container-row">
            <div class="col-sm-4 orari section-header text-center">
                <div class="icon">
                    <object class="clock" type="image/svg+xml" data="../../../assets/icons/clockBlue.svg">
                    </object>
                </div>
                <h3 class="section-title underline">Orari di apertura</h3>
                <p class="feature-desc orari-lista">
                    Lunedì - Venerdì 8:00 - 20:00
                </p>
                <p class="feature-desc">
                    Sabato CHIUSO
                </p>
                <p class="feature-desc">
                    Domenica CHIUSO
                </p>
            </div>
            <div class="col-sm-8">
                <div #mapContainer id="map"></div>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
</section>

<app-footer></app-footer>