.content-section {
    margin-top: 50px;
    padding-bottom: 25px;
}
.content-section .section-header {
    margin-bottom: 10px;
}
.location {
    width: 50px;
}
.clock {
    width: 25px;
}
.icon {
    margin-bottom: 12px;
}
#map {
    height: 500px;
    width: 100%;
}
.orari {
    background-color: #f2f2f2;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 30px;
}
.orari-lista {
    margin-top: 50px;
}

@media screen and (max-width: 531px) {
    .container-row { display: flex; flex-flow: column-reverse; }
    .orari { margin-top: 40px; }
}
