<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <h3 class="section-title underline">I nostri servizi</h3>
                <p class="section-subtitle">Competenza, professionalità, spirito di squadra</p>
            </div>

            <div class="col-md-6">
                <div class="feature-box">
                    <div class="icon">
                        <object class="dumbbell" type="image/svg+xml" data="../../../assets/icons/dumbbellBlue.svg">
                        </object>
                    </div>
                    <h5 class="feature-title">Palestra</h5>
                    <p class="feature-desc">L’importanza dell’attività fisica è ormai nota a tutti ma, come tutte le
                        terapie, necessita del giusto dosaggio e metodo. L’infinito scenario “palestra” in funzione di
                        un unico obiettivo: il vostro.
                    </p>
                    <button routerLink="/palestra" class="btn">Visita il sito</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="feature-box">
                    <div class="icon">
                        <object class="dumbbell" type="image/svg+xml" data="../../../assets/icons/medicoBlue.svg">
                        </object> </div>
                    <h5 class="feature-title">Centro medico</h5>
                    <p class="feature-desc">Un team solido, collaborativo e di grandi specialisti vi assisterà nel
                        percorso di diagnosi, terapie e trattamenti appropriati. Per una corretta gestione del paziente
                        è necessaria coesione ed accuratezza.</p>
                    <button routerLink="/centromedico" class="btn">Visita il sito</button>
                </div>
            </div>

        </div>
    </div>
</section>