<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <h3 class="section-title underline">I nostri servizi</h3>
                <p class="section-subtitle">Competenza, professionalità, spirito di squadra</p>
            </div>

            <div class="col-md-6">
                <div class="feature-box">
                    <div class="icon">
                        <object class="dumbbell" type="image/svg+xml" data="../../../assets/icons/dumbbell.svg">
                        </object>
                    </div>
                    <h5 class="feature-title">Palestra</h5>
                    <p class="feature-desc">Per la nostra attività di sviluppo e consulenza ricerchiamo programmatori e
                        sviluppatori software a Milano, Firenze e Bologna. Se cerchi un’opportunità di lavoro e creare
                        software è la tua passione, invia il tuo curriculum: accoglieremo volentieri la tua competenza.
                    </p>
                    <button routerLink="/palestra" class="btn">Visita il sito</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="feature-box">
                    <div class="icon">
                        <object class="dumbbell" type="image/svg+xml" data="../../../assets/icons/medico.svg">
                        </object> </div>
                    <h5 class="feature-title">Centro medico</h5>
                    <p class="feature-desc">La filosofia di lavoro di Lenis mette al centro competenza, innovazione e
                        sviluppo delle professionalità. Sviluppatori, project manager, analisti programmatori, tester:
                        in Lenis cerchiamo talenti per molteplici progetti e opportunità di lavoro. Consulta le
                        Posizioni Aperte.</p>
                    <button routerLink="/centromedico" class="btn">Visita il sito</button>
                </div> 
            </div> 

        </div> 
    </div>
</section>