<app-navbar></app-navbar>

<section class="content-section appearance-transformation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <div class="icon">
                    <object class="pesi" type="image/svg+xml" data="../../../assets/icons/dumbbellBlue.svg">
                    </object>
                </div>
                <h3 class="section-title underline">La palestra</h3>
                <p class="section-subtitle">L’importanza dell’attività fisica è ormai nota a tutti ma, come tutte le
                    terapie, necessita del giusto dosaggio e metodo. L’infinito scenario “palestra” in funzione di un
                    unico obiettivo: il vostro.</p>
            </div>
        </div>
    </div>
</section>



<section id="servizi">
    <div class="image-holder col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-left">
        <div class="background-imgholder">
        </div>
    </div>
    <div class="col-lg-7 col-lg-offset-5 col-md-12 col-md-offset-5 col-sm-12 col-sm-offset-12 col-xs-12 text-inner ">
        <div class="text-block row">
            <div class="col-md-6 col-xs-12">
                <h3>Personal training</h3>
            </div>
            <div class="col-md-6 col-xs-12 buttonClass">
                <button [routerLink]="['/team-page', '1', 'palestra', 'Personal training', 'true']" class="btn"
                    >I nostri personal trainer</button>
            </div>
            <div class="col-md-12">
                <div class="detail-container">
                    <div class="dettaglioRow">
                        <div id="dettaglioServizio">
                            <p class="dettaglio">Allenamento Funzionale</p>
                            <p class="dettaglio">Coaching Online</p>
                            <p class="dettaglio">Dimagrimento</p>
                            <p class="dettaglio">Fitness</p>
                            <p class="dettaglio">Ginnastica Dolce</p>
                            <p class="dettaglio">Ginnastica Posturale</p>
                            <p class="dettaglio">Performance Sportiva per sport di squadra ed individuali</p>
                            <p class="dettaglio">Prevenzione Infortuni</p>
                            <p class="dettaglio">Ricomposizione Corporea</p>
                            <p class="dettaglio">Rieducazione fisica e motoria (post riabilitazione fisioterapica)</p>
                            <p class="dettaglio">Valutazione Atletica</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>