<!--<a routerLink="/">Go to Home</a>-->
<app-navbar></app-navbar>


<section  class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header text-center">
                <div class="icon">
                    <object class="team" type="image/svg+xml" data="../../../assets/icons/teamBlue.svg">
                    </object>
                </div>
                <h3 *ngIf="routerFilter === 'false'" class="section-title underline">Il nostro team</h3>
                <h3 *ngIf="routerFilter === 'true'" class="section-title underline">{{titleText}}</h3>
                <p class="section-subtitle">Competenza, professionalità, spirito di squadra</p>
            </div>
            <div class="col-md-12 text-center">
                <p id="my_styles">
                    <button type="submit" class="btn btn-lg btn-palestra my-2" id="palestra">Palestra</button>
                    <button type="submit" class="btn btn-lg btn-centro my-2" id="centroMedico">Centro medico</button>
                </p>
            </div>
            <div *ngIf="routerFilter === 'true'" class="col-md-12 text-center">
                <p id="my_styles">
                    <button type="submit" class="btn my-2" (click)="viewAllSpecialisti()"><i class="fa fa-undo"
                            id="btn-undo"></i>
                        Visualizza tutti gli specialisti</button>
                </p>
            </div>
        </div>
    </div>
</section>

<section *ngIf="isPalestraSelected === true">
    <div class="container">
        <div class="team-list-img tab-pane active">
            <span *ngFor="let specialista of specPalestraList; index as i">
                <a (click)="onShowDetail(specialista)">
                    <img src="../../../assets/Specialisti/Palestra/{{specialista.id}}.jpg" alt="Avatar"
                        class="imgSpecialista" id="{{specialista?.id}}"
                        [ngClass]="{'activeImg' : routerId === specialista?.id}">
                </a>
            </span>
        </div>
        <div class="dettaglioRow">
            <div id="dettaglioSpecialista">
                <h3>
                    {{selectedSpecialista?.nome}} {{selectedSpecialista?.cognome}}
                </h3>
                <h5 class="subtitle">
                    {{selectedSpecialista?.specializzazione}}
                </h5>
                <hr>
                <p class="cv" [innerHtml]="selectedSpecialista?.cv">

                </p>
            </div>
        </div>
    </div>
</section>
<section *ngIf="isPalestraSelected === false">
    <div class="container">
        <div class="team-list-img tab-pane active">
            <span *ngFor="let specialista of specCentroList; index as i">
                <a (click)="onShowDetail(specialista)">
                    <img src="../../../assets/Specialisti/Centro Medico/{{specialista.id}}.jpg" alt="Avatar"
                        class="imgSpecialista" id="{{specialista?.id}}"
                        [ngClass]="{'activeImg' : routerId === specialista?.id}">
                </a>
            </span>
        </div>
        <div class="dettaglioRow">
            <div id="dettaglioSpecialista">
                <h3>
                    {{selectedSpecialista?.nome}} {{selectedSpecialista?.cognome}}
                </h3>
                <h5 class="subtitle">
                    {{selectedSpecialista?.specializzazione}}
                </h5>
                <hr>
                <p class="cv" [innerHtml]="selectedSpecialista?.cv">
                </p>
            </div>
        </div>
    </div>
</section>

<section class="content-section">
    <div class="container">
    </div>
</section>

<app-footer></app-footer>