.content-section {
    margin-top: 50px;
    padding-bottom: 25px;
}
.content-section .section-header {
    margin-bottom: 10px;
}
.icon {
    margin-bottom: 12px;
}
.team {
    width: 50px;
}
.my-2 {
    margin-right: 5px;
    color: #5d9fd1;
    border-color: #1766b0;
    width: 200px;
}
.activeBtn {
    background: #1766b0;
    color: white;
}
img {
    border-radius: 50%;
    width: 100px;
    margin-right: 10px;
    background-color: rgba(225, 225, 225, 0.5);
    cursor: pointer;
}
a:hover {
    img {
        box-shadow: 2px 2px 5px #1766b0;
    }
}
.team-list-img {
    display: inline-block;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}
.activeImg {
    padding: 2.5px;
    background: linear-gradient(to left, #FFFFFF, #1766b0);
    width: 150px;
}

.subtitle {
    color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}
.cv {
    color: rgba(0, 0, 0, 0.5);
}
.dettaglioRow {
    background: linear-gradient(to left, #FFFFFF, #1766b0);
    padding-bottom: 1.5px;
    padding-left: 1.5px;
    width: 100%;
    border-radius: 6px;
}
#dettaglioSpecialista {
    padding: 20px;
    border-radius: 6px;
    background: #f2f2f2;
    width: 100%;
}
@media (max-width: 480px) {
    .activeImg {
        width: 100px;
    }
    img {
        width: 70px;
    }
}